@charset "utf-8";

@media screen and (min-width: 300px) and (max-width: 668px) {

    header > .menuHeader{
        display: none;
    }

    footer > .dadosFooter{
        display: flex;
        justify-content: spa;
        align-items: center;
        flex: 1 1 100%;
        flex-flow: column nowrap;
    }

    footer > .infosFooter{
        flex-flow: column nowrap;
    }
}

@media screen and (max-width: 480px) {

    main > section#Sobre > .containerSobre > picture > .imgSobre{
        flex: 1 1 80%;
        max-width: 280px;
    }
    main > section#Sobre > .containerSobre > p{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    main > section#Servicos {
        justify-content: center;
    }

    main > section#Servicos > .card{

        flex: 1 1 95%;
        max-width: 95%;
    }

    main > section#Sobre{
        justify-content: center;
    }
    
}

@media screen and (min-width: 300px) and (max-width: 1400px) {

    main > section#Servicos {
        width: 100%;
    }
    
}

@media screen and (min-width: 1215px) {
    
    footer > .dadosFooter{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

@media screen and (max-width: 1215px) {
    
    footer > .infosFooter{
        flex-flow: column wrap;
    }
}

@media screen and (min-width: 1400px) {
    
    main > section#Servicos {
        width: 80%;
    }

}