@charset "utf-8";

@media screen and (max-width: 480px) {

    header > nav{
        display: none;
    }

    main > section#Sobre > .containerSobre > picture >  .imgSobre{
        flex: 1 1 80%;
        max-width: 300px;
    }
    main > section#Sobre > .containerSobre > p{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    main > section#Servicos {
        justify-content: center;
        width: 100%;
    }

    main > section#Servicos > .card{

        flex: 1 1 95%;
        max-width: 95%;
    }

    main > section#Sobre{
        justify-content: center;
    }
    
}

@media screen and (min-width: 480px) and (max-width: 980px) {
    main > section#Servicos {
        width: 100%;
    }
}

@media screen and (min-width: 980px){
    main > section#Servicos {
        width: 80%;
    }
}